Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, node scripts/lint-staged-remark.js, node scripts/resize-images.js

update packages and jest config
  .travis.yml
  package.json
  test/unit/jest.config.js
  yarn.lock
Due: eslint --fix

update packages and jest config (#72)
  .travis.yml
  package.json
  test/unit/jest.config.js
  yarn.lock
Due: eslint --fix

converted to pwa
  .vscode/settings.json
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  src/main.js
  webpack.config.js
  yarn.lock
Due: eslint --fix

fix($browser): Fixed onscroll behavior in safari
  package.json
  src/assets/styles/global.scss
  src/components/AppNavigationItem.vue
  src/components/CardPortfolio.vue
  src/components/CardTool.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/ExternalLink.vue
  src/components/FormInput.vue
  src/components/IntroPanel.vue
  src/directives/in-view.js
  src/lib/debounce.js
  src/lib/throttle.js
  src/main.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

feat: Added commitizen config to package.json
  package.json
Due: none

Fix issues in Safari (#79)
  package.json
  src/assets/styles/global.scss
  src/components/AppNavigationItem.vue
  src/components/CardPortfolio.vue
  src/components/CardTool.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/ExternalLink.vue
  src/components/FormInput.vue
  src/components/IntroPanel.vue
  src/directives/in-view.js
  src/lib/debounce.js
  src/lib/throttle.js
  src/main.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

ci(travis): Added greenkeeper-lockfile workflow to travis
  .travis.yml
Due: none

ci(travis): Added greenkeeper-lockfile workflow to travis (#80)
  .travis.yml
Due: none

refactor: remove debounce from particle-network
  .travis.yml
  .vscode/settings.json
  package.json
  src/lib/debounce.js
  src/lib/particle-network.js
  webpack.config.js
Due: eslint --fix

ci(travis): Fixed reference to lcov file for coveralls
  .travis.yml
Due: none

Fix codeclimate violations (#81)
  .travis.yml
  .vscode/settings.json
  package.json
  src/lib/debounce.js
  src/lib/particle-network.js
  webpack.config.js
Due: eslint --fix

Post-release integration branch (#74)
  .travis.yml
  .vscode/settings.json
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  src/assets/styles/global.scss
  src/components/AppNavigationItem.vue
  src/components/CardPortfolio.vue
  src/components/CardTool.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/ExternalLink.vue
  src/components/FormInput.vue
  src/components/IntroPanel.vue
  src/directives/in-view.js
  src/lib/debounce.js
  src/lib/particle-network.js
  src/lib/throttle.js
  src/main.js
  test/unit/jest.config.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

chore(package): update lockfile
  yarn.lock
Due: none

updated yarn.lock file
  yarn.lock
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: node scripts/lint-staged-remark.js

Create PULL_REQUEST.md
  PULL_REQUEST_TEMPLATE.md
Due: node scripts/lint-staged-remark.js

Create LICENSE
  LICENSE
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: node scripts/lint-staged-remark.js

Update issue templates (#87)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: node scripts/lint-staged-remark.js

Create PULL_REQUEST.md (#88)
  PULL_REQUEST_TEMPLATE.md
Due: node scripts/lint-staged-remark.js

Create LICENSE (#89)
  LICENSE
Due: none

Create CONTRIBUTING.md (#90)
  CONTRIBUTING.md
Due: node scripts/lint-staged-remark.js

updated api server
  .travis.yml
  bin/deploy
  packages/api-server/.gitignore
  packages/api-server/README.md
  packages/api-server/bin/deploy
  packages/api-server/index.js
  packages/api-server/lib/api-server.js
  packages/api-server/now.json
  packages/api-server/package.json
  packages/api-server/pre-start.js
  packages/api-server/yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

updated api server
  packages/api-server/README.md
  packages/api-server/bin/deploy
Due: node scripts/lint-staged-remark.js

Deploying to Heroku
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  PULL_REQUEST_TEMPLATE.md
  packages/api-server/.gitignore
  packages/api-server/bin/deploy
Due: node scripts/lint-staged-remark.js

Deploying to Heroku
  packages/api-server/bin/deploy
Due: none

updated docs files
  .github/PULL_REQUEST_TEMPLATE.md
  docs/README.md
  docs/acknowledgements.md
  docs/deployment.md
  docs/development.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/packages.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/documentation.md
  docs/guiding-principles.md
  docs/motivation-and-goals.md
  docs/packages.md
  docs/resources-credits.md
  docs/testing.md
  docs/third-party-integrations.md
Due: node scripts/lint-staged-remark.js

updated docs
  .lintstagedrc
  .vscode/settings.json
  README.md
  docs/README.md
  docs/deployment.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/packages.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/documentation.md
  docs/resources-credits.md
  docs/roadmap.md
  logo.png
  package.json
  packages/README.md
  packages/docs/.eslintrc.js
  packages/docs/README.md
  packages/docs/__tests__/docs.test.js
  packages/docs/cli.js
  packages/docs/content/docs/deployment.js
  packages/docs/content/docs/development/architecture.js
  packages/docs/content/docs/development/packages.js
  packages/docs/content/docs/development/scripts-tooling.js
  packages/docs/content/docs/development/setup.js
  packages/docs/content/docs/documentation.js
  packages/docs/content/docs/guiding-principles.js
  packages/docs/content/docs/motivation-and-goals.js
  packages/docs/content/docs/resources-credits.js
  packages/docs/content/docs/roadmap.js
  packages/docs/content/docs/testing.js
  packages/docs/content/docs/third-party-integrations.js
  packages/docs/content/readme.js
  packages/docs/index.js
  packages/docs/lib/docs.js
  packages/docs/package.json
  packages/docs/templates/default.hbs
  packages/docs/templates/readme.hbs
  packages/docs/yarn.lock
  yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

fixed some issues from codeclimate
  .codeclimate.yml
  .vscode/settings.json
  README.md
  docs/motivation-and-goals.md
  packages/docs/content/docs/motivation-and-goals.js
Due: eslint --fix, node scripts/lint-staged-remark.js

removed docs package
  packages/docs/.eslintrc.js
  packages/docs/README.md
  packages/docs/__tests__/docs.test.js
  packages/docs/cli.js
  packages/docs/content/docs/deployment.js
  packages/docs/content/docs/development/architecture.js
  packages/docs/content/docs/development/packages.js
  packages/docs/content/docs/development/scripts-tooling.js
  packages/docs/content/docs/development/setup.js
  packages/docs/content/docs/documentation.js
  packages/docs/content/docs/guiding-principles.js
  packages/docs/content/docs/motivation-and-goals.js
  packages/docs/content/docs/resources-credits.js
  packages/docs/content/docs/roadmap.js
  packages/docs/content/docs/testing.js
  packages/docs/content/docs/third-party-integrations.js
  packages/docs/content/readme.js
  packages/docs/index.js
  packages/docs/lib/docs.js
  packages/docs/package.json
  packages/docs/templates/default.hbs
  packages/docs/templates/readme.hbs
  packages/docs/yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

fixed all markdownlint errors
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
  README.md
  docs/README.md
  docs/deployment.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/packages.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/documentation.md
  docs/guiding-principles.md
  docs/motivation-and-goals.md
  docs/resources-credits.md
  docs/roadmap.md
  docs/testing.md
  docs/third-party-integrations.md
Due: node scripts/lint-staged-remark.js

fixed travis error
  .travis.yml
Due: none

Documentation (#92)
  .codeclimate.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  .travis.yml
  .vscode/settings.json
  README.md
  docs/README.md
  docs/acknowledgements.md
  docs/development.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/packages.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/guiding-principles.md
  docs/motivation-and-goals.md
  docs/packages.md
  docs/resources-credits.md
  docs/testing.md
  docs/third-party-integrations.md
  logo.png
  package.json
  packages/README.md
  yarn.lock
Due: node scripts/lint-staged-remark.js

chore: updated yarn.lock
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: *.js
  eslint --ext .vue --fix: any of: *.vue
  stylelint --custom-syntax postcss-html --fix: any of: *.vue
  stylelint --fix: any of: *.scss
  svgo --pretty -p 2 --config=.svgo.yml --indent=2: any of: *.svg
  node scripts/lint-staged-remark.js: any of: *.md
  node scripts/resize-images.js: any of: src/assets/images/**/*.{png,jpg}
