Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, markdownlint --config .mdlrc

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --ext .vue --fix",
    "stylelint --custom-syntax postcss-html --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.md": [
    "markdownlint --config .mdlrc",
    "git add"
  ]
}

chore(package): update lockfile
  yarn.lock
Due: none

updated compression plugin options
  build/webpack.prod.conf.js
Due: eslint --fix

:heavy_minus_sign: (jsinspect) removed jsinspect
  .eslintrc.js
  .jsinspectrc
  docs/code-quality.md
  docs/scripts-tooling.md
  package.json
  yarn.lock
Due: eslint --fix, markdownlint --config .mdlrc

:sparkles: (bin) cleaned up binstubs; updated npm scripts; updated docs
  bin/build
  bin/deploy
  bin/lint
  bin/prune
  bin/test
  docs/code-quality.md
  docs/scripts-tooling.md
  docs/testing.md
  package.json
  yarn.lock
Due: markdownlint --config .mdlrc

:construction_worker: (travis) updated travis test script
  .travis.yml
Due: none

:construction_worker: (greenkeeper) updated greenkeeper config
  greenkeeper.json
Due: none

:green_heart: (npmrc) added npmrc and fixed dependency sources
  .npmrc
  yarn.lock
Due: none

updated cache-control in static.json
  static.json
Due: none

:construction_worker: (deploy) created deploy script
  .gitignore
  .vscode/settings.json
  bin/deploy
Due: none

:sparkles: (deploy) updated deploy script
  bin/deploy
  dist/404.html
  dist/404.html.gz
  dist/app.5051dab25869b0a66e77.css
  dist/app.5051dab25869b0a66e77.css.gz
  dist/app.5051dab25869b0a66e77.f052ff08.css
  dist/app.5051dab25869b0a66e77.js
  dist/app.5051dab25869b0a66e77.js.gz
  dist/appcache/manifest.appcache
  dist/appcache/manifest.html
  dist/appcache/manifest.html.gz
  dist/browserconfig.xml
  dist/error.641f2a6b8c8be6441926.js
  dist/googlefaeaf1160dde1334.html
  dist/homepage.jpg
  dist/icon.png
  dist/icon_128x128.png
  dist/icon_144x144.png
  dist/icon_192x192.png
  dist/icon_256x256.png
  dist/icon_384x384.png
  dist/icon_512x512.png
  dist/icon_96x96.png
  dist/index.html
  dist/index.html.gz
  dist/manifest.2a9ffa5ca0930a8d0819.js
  dist/manifest.2a9ffa5ca0930a8d0819.js.gz
  dist/manifest.json
  dist/mountains.c52715750616e2676c63b12c13dc9530.jpg
  dist/particles.b3e91eb5e03c2756f218.js
  dist/particles.b3e91eb5e03c2756f218.js.gz
  dist/placeholder.baf52237e0b6afcc8ab3afb308f6b4d8.jpg
  dist/pool.8809390916bea6961961e8da120d82ea.jpg
  dist/road.58eb0bbef4cd7fdc903885c39a5a49f9.jpg
  dist/robots.txt
  dist/sitemap.xml
  dist/sw.js
  dist/sw.js.gz
  dist/vendors.9b34e65ed2cc14f51ece.js
  dist/vendors.9b34e65ed2cc14f51ece.js.gz
Due: eslint --fix

:sparkles: (dist) removing dist dir
  dist/404.html
  dist/404.html.gz
  dist/app.5051dab25869b0a66e77.css
  dist/app.5051dab25869b0a66e77.css.gz
  dist/app.5051dab25869b0a66e77.f052ff08.css
  dist/app.5051dab25869b0a66e77.js
  dist/app.5051dab25869b0a66e77.js.gz
  dist/appcache/manifest.appcache
  dist/appcache/manifest.html
  dist/appcache/manifest.html.gz
  dist/browserconfig.xml
  dist/error.641f2a6b8c8be6441926.js
  dist/googlefaeaf1160dde1334.html
  dist/homepage.jpg
  dist/icon.png
  dist/icon_128x128.png
  dist/icon_144x144.png
  dist/icon_192x192.png
  dist/icon_256x256.png
  dist/icon_384x384.png
  dist/icon_512x512.png
  dist/icon_96x96.png
  dist/index.html
  dist/index.html.gz
  dist/manifest.2a9ffa5ca0930a8d0819.js
  dist/manifest.2a9ffa5ca0930a8d0819.js.gz
  dist/manifest.json
  dist/mountains.c52715750616e2676c63b12c13dc9530.jpg
  dist/particles.b3e91eb5e03c2756f218.js
  dist/particles.b3e91eb5e03c2756f218.js.gz
  dist/placeholder.baf52237e0b6afcc8ab3afb308f6b4d8.jpg
  dist/pool.8809390916bea6961961e8da120d82ea.jpg
  dist/road.58eb0bbef4cd7fdc903885c39a5a49f9.jpg
  dist/robots.txt
  dist/sitemap.xml
  dist/sw.js
  dist/sw.js.gz
  dist/vendors.9b34e65ed2cc14f51ece.js
  dist/vendors.9b34e65ed2cc14f51ece.js.gz
Due: eslint --fix

:sparkles: (deploy) updated deploy script
  bin/deploy
Due: none

automated build and deploy
  dist/404.html
  dist/404.html.gz
  dist/app.5051dab25869b0a66e77.css
  dist/app.5051dab25869b0a66e77.css.gz
  dist/app.5051dab25869b0a66e77.f052ff08.css
  dist/app.5051dab25869b0a66e77.js
  dist/app.5051dab25869b0a66e77.js.gz
  dist/appcache/manifest.appcache
  dist/appcache/manifest.html
  dist/appcache/manifest.html.gz
  dist/browserconfig.xml
  dist/error.641f2a6b8c8be6441926.js
  dist/googlefaeaf1160dde1334.html
  dist/homepage.jpg
  dist/icon.png
  dist/icon_128x128.png
  dist/icon_144x144.png
  dist/icon_192x192.png
  dist/icon_256x256.png
  dist/icon_384x384.png
  dist/icon_512x512.png
  dist/icon_96x96.png
  dist/index.html
  dist/index.html.gz
  dist/manifest.2a9ffa5ca0930a8d0819.js
  dist/manifest.2a9ffa5ca0930a8d0819.js.gz
  dist/manifest.json
  dist/mountains.c52715750616e2676c63b12c13dc9530.jpg
  dist/particles.b3e91eb5e03c2756f218.js
  dist/particles.b3e91eb5e03c2756f218.js.gz
  dist/placeholder.baf52237e0b6afcc8ab3afb308f6b4d8.jpg
  dist/pool.8809390916bea6961961e8da120d82ea.jpg
  dist/road.58eb0bbef4cd7fdc903885c39a5a49f9.jpg
  dist/robots.txt
  dist/sitemap.xml
  dist/sw.js
  dist/sw.js.gz
  dist/vendors.9b34e65ed2cc14f51ece.js
  dist/vendors.9b34e65ed2cc14f51ece.js.gz
Due: eslint --fix

:sparkles: (deploy) resolved merge conflict
  bin/deploy
Due: none

:sparkles: (deploy) improved deployment process
  .gitignore
  .travis.yml
  bin/deploy
  docs/deployment.md
  src/error.js
  static.json
Due: eslint --fix, markdownlint --config .mdlrc

:green_heart: (deploy) updated deploy step in travis config
  .travis.yml
Due: none

:sparkles: (deploy) removed deploy step from travis
  .travis.yml
  bin/deploy
Due: none

:sparkles: (deploy) removed dead code in travis config
  .travis.yml
  .vscode/settings.json
Due: none

:sparkles: (lighthouse) created lighthouse tests
  bin/test
  index.html
  package.json
  test/accessibility/constants.js
  test/accessibility/lighthouse-config.js
  test/lighthouse/index.js
  yarn.lock
Due: eslint --fix

:bug: (lighthouse) not running lighthouse as a default test
  bin/test
  package.json
Due: none
