Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, node scripts/lint-staged-remark.js, node scripts/resize-images.js

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --ext .vue --fix",
    "stylelint --custom-syntax postcss-html --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.svg": [
    "svgo --pretty -p 2 --config=.svgo.yml --indent=2",
    "git add"
  ],
  "*.md": [
    "node scripts/lint-staged-remark.js",
    "git add"
  ],
  "src/assets/images/**/*.{png,jpg}": [
    "node scripts/resize-images.js",
    "git add"
  ]
}

created new cavas animation
  src/components/IntroPanel.vue
  src/lib/particle-network.js
  src/views/Home.vue
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

created new content panels
  src/App.vue
  src/assets/styles/global.scss
  src/assets/styles/lib/_vars.scss
  src/components/AppNavigation.vue
  src/components/AppNavigationItem.vue
  src/components/ContentPanel.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ContentSectionSkillsAndTools.vue
Due: eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

pulling in real content
  .eslintrc.js
  index.html
  package.json
  src/App.vue
  src/components/AppLoading.vue
  src/components/CardTool.vue
  src/components/ContentSection.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/ExperienceBox.vue
  src/components/FloatingBox.vue
  src/components/FormInput.vue
  src/store/index.js
  src/store/modules/nav/actions.js
  src/store/modules/portfolio/actions.js
  src/store/modules/portfolio/getters.js
  src/store/modules/portfolio/mutations.js
  src/store/modules/portfolio/state.js
  src/views/Home.vue
  src/views/Portfolio.vue
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

updated component rendering
  .gitignore
  build/webpack.base.conf.js
  package.json
  src/App.vue
  src/assets/images/loading.svg
  src/assets/styles/global.scss
  src/assets/styles/lib/_vars.scss
  src/components/AppLoading.vue
  src/components/CardTool.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ExperienceBox.vue
  src/components/FormInput.vue
  src/lib/github.js
  src/lib/npm.js
  src/lib/particle-network.js
  src/lib/request.js
  src/main.js
  src/store/index.js
  src/store/modules/portfolio/actions.js
  src/store/modules/portfolio/mutations.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2

completed contact form
  package.json
  src/assets/styles/global.scss
  src/assets/styles/lib/_keyframes.scss
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/FormInput.vue
  src/components/FormSubmit.vue
  src/main.js
  src/store/modules/index.js
  src/store/modules/message/actions.js
  src/store/modules/message/defaults.js
  src/store/modules/message/getters.js
  src/store/modules/message/index.js
  src/store/modules/message/mutations.js
  src/store/modules/message/state.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

added portfolio content
  src/components/CardPortfolio.vue
  src/components/ContentSection.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ExperienceBox.vue
Due: eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

removed data from repo
  src/lib/github.js
Due: eslint --fix

created backend server
  .travis.yml
  bin/start
  build/webpack.dev.conf.js
  lerna.json
  package.json
  packages/api-server/README.md
  packages/api-server/index.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/fetch.js
  packages/api-server/lib/routes/four-oh-four.js
  packages/api-server/lib/routes/github.js
  packages/api-server/lib/routes/index.js
  packages/api-server/lib/routes/messages.js
  packages/api-server/lib/routes/npm.js
  packages/api-server/package.json
  packages/api-server/yarn.lock
  src/components/ContentSectionContact.vue
  src/components/FormSubmit.vue
  src/lib/api.js
  src/lib/cache.js
  src/lib/github.js
  src/lib/npm.js
  src/lib/request.js
  src/store/modules/message/actions.js
  src/store/modules/message/mutations.js
  src/store/modules/message/state.js
  src/store/modules/portfolio/actions.js
  webpack.config.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

setup project for now deploys
  .gitignore
  .vscode/settings.json
  bin/start
  build/webpack.base.conf.js
  now.json
  package.json
  packages/api-server/index.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/routes/github.js
  packages/api-server/now.json
  packages/api-server/package.json
  packages/api-server/yarn.lock
  src/store/modules/message/actions.js
  src/store/modules/portfolio/actions.js
  webpack.config.js
Due: eslint --fix

updated api server and request methods
  bin/deploy
  build/webpack.dev.conf.js
  now.json
  package.json
  packages/api-server/lib/api-server.js
  packages/api-server/now.json
  packages/api-server/package.json
  src/components/ContentSectionExperience.vue
  src/components/ExperienceBox.vue
  src/lib/api.js
  src/lib/cache.js
  src/store/modules/message/actions.js
  src/store/modules/portfolio/actions.js
  src/store/modules/portfolio/mutations.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

updated responsive styles
  src/assets/styles/lib/_vars.scss
  src/components/AppNavigation.vue
  src/components/CardPortfolio.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ContentSectionContact.vue
  src/components/ContentSectionExperience.vue
  src/components/ContentSectionPortfolio.vue
  src/components/ContentSectionSkillsAndTools.vue
  src/components/ExperienceBox.vue
  src/components/IntroPanel.vue
  src/views/FourOhFour.vue
Due: eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix

updated heroku build
  bin/start
  package.json
Due: none

configured travis and made changes to source as needed
  .env.enc
  .gitignore
  .remarkrc
  .travis.yml
  bin/deploy
  bin/docs
  bin/lint
  bin/test
  docs/.vuepress/config.js
  docs/motivation.md
  now.json
  package.json
  packages/api-server/lib/api-server.js
  src/App.vue
  src/components/AppLoading.vue
  src/components/AppNavigationButton.vue
  src/components/AppNavigationItem.vue
  src/lib/api.js
  src/store/index.js
  test/e2e/e2e.test.js
  test/e2e/jest-puppeteer.config.js
  test/unit/specs/components/AppNavigation.test.js
  test/unit/specs/components/AppNavigationButton.test.js
  test/unit/specs/components/AppNavigationItem.test.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

updated scripts after failing run
  .env.enc
  .travis.yml
  bin/deploy
  bin/prune
  bin/start
  bin/test
  package.json
  yarn.lock
Due: none

updated now config and ci scripts
  packages/api-server/now.json
Due: none

set env vars in travis and updated scripts
  .env.enc
  .travis.yml
  bin/deploy
  bin/functions
  bin/start
  bin/test
  packages/api-server/lib/routes/messages.js
  packages/api-server/now.json
Due: eslint --fix

updated travis config
  .travis.yml
Due: none

Configured travis and made changes to source as needed (#62)
  .gitignore
  .remarkrc
  .travis.yml
  bin/deploy
  bin/docs
  bin/functions
  bin/lint
  bin/prune
  bin/start
  bin/test
  docs/.vuepress/config.js
  docs/motivation.md
  now.json
  package.json
  packages/api-server/lib/api-server.js
  packages/api-server/lib/routes/messages.js
  packages/api-server/now.json
  src/App.vue
  src/components/AppLoading.vue
  src/components/AppNavigationButton.vue
  src/components/AppNavigationItem.vue
  src/lib/api.js
  src/store/index.js
  test/e2e/e2e.test.js
  test/e2e/jest-puppeteer.config.js
  test/unit/specs/components/AppNavigation.test.js
  test/unit/specs/components/AppNavigationButton.test.js
  test/unit/specs/components/AppNavigationItem.test.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

updated lerna config
  .travis.yml
  lerna.json
  package.json
  packages/api-server/now.json
  yarn.lock
Due: none

updated lerna config
  lerna.json
  package.json
Due: none

Fix some codeclimate issues (#63)
  .travis.yml
  lerna.json
  packages/api-server/now.json
  yarn.lock
Due: none

simplified travis run
  .travis.yml
Due: none

update procfile
  Procfile
  bin/deploy
  bin/start
  lerna.json
  package.json
Due: none

update build script
  bin/start
  package.json
  yarn.lock
Due: none

update start script
  bin/start
Due: none

removed http-server
  package.json
  yarn.lock
Due: none

more tinkering with the start script
  Procfile
  bin/start
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: node scripts/lint-staged-remark.js

Add code of conduct (#65)
  CODE_OF_CONDUCT.md
Due: node scripts/lint-staged-remark.js

fixed accessibility violations
  Procfile
  bin/start
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  src/components/AppNavigationButton.vue
  src/components/FormSubmit.vue
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

updated nav button; included lightouse config file
  src/components/AppNavigationButton.vue
  test/accessibility/constants.js
  test/accessibility/lighthouse-config.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

Ensure Accessibility (#71)
  Procfile
  bin/start
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  src/components/AppNavigationButton.vue
  src/components/FormSubmit.vue
  test/accessibility/constants.js
  test/accessibility/lighthouse-config.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

fixed viewport meta name error
  build/build-config.js
Due: eslint --fix
