Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, remark -o

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --fix",
    "stylelint",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.svg": [
    "svgo --pretty -p 2 --config=.svgo.yml --indent=2",
    "git add"
  ],
  "*.md": [
    "remark -o",
    "git add"
  ]
}

completed outline for portfolio page
  src/assets/images/npm.svg
  src/assets/images/placeholder.jpg
  src/assets/images/trianglify.png
  src/components/AppFooter.vue
  src/components/ContentPanel.vue
  src/components/FloatingBox.vue
  src/lib/canvas/waves.js
  src/views/Portfolio.vue
Due: eslint --fix, stylelint, svgo --pretty -p 2 --config=.svgo.yml --indent=2

updated lint script
  .travis.yml
  bin/lint
  package.json
Due: none

resized all source images
  src/assets/images/WebGL-Decorative-Backgrounds.jpg
  src/assets/images/dot-texture.png
  src/assets/images/fog.jpg
  src/assets/images/forest.jpg
  src/assets/images/gekko.jpg
  src/assets/images/icon.png
  src/assets/images/mountain-pass.jpg
  src/assets/images/mountains.jpg
  src/assets/images/node-simplex-noise.jpg
  src/assets/images/placeholder.jpg
  src/assets/images/pool.jpg
  src/assets/images/road.jpg
  src/assets/images/trianglify.png
Due: none

completed portfolio
  .lintstagedrc
  package.json
  scripts/resize-images.js
  src/components/AppFooter.vue
  src/components/FloatingBox.vue
  src/components/IntroPanel.vue
  src/lib/content/images.js
  src/lib/content/index.js
  src/lib/content/portfolio.js
  src/lib/preload.js
  src/lib/title-case.js
  src/router/index.js
  src/store/modules/index.js
  src/store/modules/portfolio/actions.js
  src/store/modules/portfolio/getters.js
  src/store/modules/portfolio/index.js
  src/store/modules/portfolio/mutations.js
  src/store/modules/portfolio/state.js
  src/views/Home.vue
  src/views/Portfolio.vue
  yarn.lock
Due: eslint --fix, stylelint

created test binstub
  .travis.yml
  bin/test
  package.json
Due: none

optimized the sphere canvas
  scripts/resize-images.js
  src/App.vue
  src/assets/images/trianglify.png
  src/components/ContentPanel.vue
  src/components/ContentSection.vue
  src/components/FloatingBox.vue
  src/components/IntroPanel.vue
  src/lib/canvas/sphere.js
  src/views/About.vue
  src/views/Contact.vue
  src/views/Experience.vue
  src/views/Home.vue
  src/views/Portfolio.vue
Due: eslint --fix, stylelint

added eslint-plugin-vue
  .eslintrc.js
  .vscode/settings.json
  package.json
  src/components/FloatingBox.vue
  src/components/IntroPanel.vue
  src/views/Portfolio.vue
  yarn.lock
Due: eslint --fix, stylelint

added eslint-plugin-unicorn
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .vscode/settings.json
  package.json
  src/components/ExternalLink.vue
  yarn.lock
Due: eslint --fix, stylelint

fixed eslint errors
  .eslintrc.js
  scripts/resize-images.js
  src/lib/canvas/brain.js
  src/lib/canvas/cubes.js
  src/lib/canvas/network.js
  src/lib/canvas/sphere.js
  src/lib/canvas/waves.js
Due: eslint --fix

created 404 page and enhanced tests
  jest-puppeteer.config.js
  package.json
  scripts/resize-images.js
  server/index.js
  src/assets/images/dot-texture.png
  src/assets/images/placeholder.jpg
  src/lib/content/index.js
  src/router/index.js
  src/views/FourOhFour.vue
  src/views/Home.vue
  test/e2e/404.test.js
  test/e2e/about.test.js
  test/e2e/contact.test.js
  test/e2e/experience.test.js
  test/e2e/home.test.js
  test/e2e/portfolio.test.js
  yarn.lock
Due: eslint --fix, stylelint

updated tests
  .lintstagedrc
  .stylelintrc.js
  bin/lint
  package.json
  scripts/resize-images.js
  src/components/AppFooter.vue
  src/components/ContentSection.vue
  src/components/IntroPanel.vue
  src/views/About.vue
  src/views/Experience.vue
  test/e2e/404.test.js
  test/e2e/about.test.js
  test/e2e/contact.test.js
  test/e2e/experience.test.js
  test/e2e/home.test.js
  test/e2e/portfolio.test.js
  yarn.lock
Due: eslint --fix, stylelint

completed unit test setup
  .eslintrc.js
  .travis.yml
  .vscode/settings.json
  bin/lint
  bin/test
  build/webpack.dev.conf.js
  jest-puppeteer.config.js
  jest.config.js
  package.json
  src/components/AppFooter.vue
  test/__mocks__/image-mock.js
  test/__mocks__/style-mock.js
  test/unit/jest.babelrc
  test/unit/jest.config.js
  test/unit/specs/components/AppFooter.test.js
  test/unit/specs/components/__snapshots__/AppFooter.test.js.snap
  yarn.lock
Due: eslint --fix, stylelint

added e2e test config
  bin/test
  package.json
  test/e2e/jest-puppeteer.config.js
  test/e2e/jest.config.js
  test/e2e/specs/404.test.js
  test/e2e/specs/about.test.js
  test/e2e/specs/contact.test.js
  test/e2e/specs/experience.test.js
  test/e2e/specs/home.test.js
  test/e2e/specs/portfolio.test.js
  yarn.lock
Due: eslint --fix

fixed unit test execugtion error
  .babelrc
  package.json
  test/unit/jest.babelrc
  test/unit/jest.config.js
  test/unit/specs/components/AppFooter.test.js
  test/unit/specs/components/__snapshots__/AppFooter.test.js.snap
  yarn.lock
Due: eslint --fix

created loading screen
  .travis.yml
  bin/start
  package.json
  src/components/AppLoading.vue
  src/lib/canvas/cubes.js
  src/store/modules/canvas/mutations.js
  src/views/Contact.vue
  yarn.lock
Due: eslint --fix, stylelint

completed portfolio
  bin/lint
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  index.html
  package.json
  server/index.js
  src/assets/images/code.svg
  src/assets/images/downloads.svg
  src/assets/images/external-link.svg
  src/assets/images/eye.svg
  src/assets/images/star.svg
  src/assets/styles/global.scss
  src/assets/styles/lib/_vars.scss
  src/components/AppFooter.vue
  src/components/ContributionsGraph.vue
  src/components/PortfolioItem.vue
  src/lib/colors.js
  src/store/modules/portfolio/actions.js
  src/store/modules/portfolio/getters.js
  src/store/modules/portfolio/mutations.js
  src/store/modules/portfolio/state.js
  src/views/About.vue
  src/views/Experience.vue
  src/views/Portfolio.vue
  test/e2e/jest-puppeteer.config.js
  test/mock-api/index.js
  test/mock-api/mocks/repo.js
  test/mock-api/mocks/stats.js
  test/mock-api/mocks/user.js
  test/mock-api/routes/github.js
  yarn.lock
Due: eslint --fix, stylelint, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2

completed homepage
  build/webpack.dev.conf.js
  package.json
  src/components/AppFooter.vue
  src/components/ContentPanel.vue
  src/components/FloatingBox.vue
  src/views/Home.vue
  yarn.lock
Due: eslint --fix, stylelint

calling github api directly; removed mock api
  build/webpack.dev.conf.js
  src/components/PortfolioItem.vue
  src/store/modules/portfolio/actions.js
  test/mock-api/index.js
  test/mock-api/mocks/repo.js
  test/mock-api/mocks/stats.js
  test/mock-api/mocks/user.js
  test/mock-api/routes/github.js
Due: eslint --fix, stylelint

setup docs
  .eslintignore
  .lintstagedrc
  README.md
  bin/docs
  bin/lint
  bin/start
  bin/test
  docs/.vuepress/config.js
  docs/README.md
  docs/acknowledgements.md
  docs/cli-commands.md
  docs/code-quality.md
  docs/dependencies.md
  docs/development.md
  docs/motivation.md
  docs/packages.md
  docs/setup.md
  docs/testing.md
  docs/third-party-integrations.md
  mkdocs.yml
  package.json
  yarn.lock
Due: eslint --fix, remark -o

setup docs
  .eslintrc.js
  .lintstagedrc
  scripts/lint-staged-remark.js
  scripts/resize-images.js
Due: eslint --fix

setup docs
  .lintstagedrc
  docs/README.md
  scripts/lint-staged-remark.js
Due: eslint --fix, remark -o

created remark lint-staged script
  .lintstagedrc
  docs/README.md
  package.json
  scripts/lint-staged-remark.js
Due: eslint --fix, remark -o

created travis docs build step
  .travis.yml
Due: none

Created documentation (#59)
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  .travis.yml
  README.md
  bin/docs
  bin/lint
  bin/start
  bin/test
  docs/.vuepress/config.js
  docs/README.md
  docs/acknowledgements.md
  docs/cli-commands.md
  docs/code-quality.md
  docs/dependencies.md
  docs/development.md
  docs/motivation.md
  docs/packages.md
  docs/setup.md
  docs/testing.md
  docs/third-party-integrations.md
  mkdocs.yml
  package.json
  scripts/lint-staged-remark.js
  scripts/resize-images.js
  yarn.lock
Due: eslint --fix, remark -o

updated e2e tests
  .travis.yml
  bin/start
  bin/test
  build/webpack.base.conf.js
  build/webpack.prod.conf.js
  package.json
  test/e2e/e2e.test.js
  test/e2e/jest.config.js
  test/e2e/specs/404.test.js
  test/e2e/specs/about.test.js
  test/e2e/specs/contact.test.js
  test/e2e/specs/experience.test.js
  test/e2e/specs/home.test.js
  test/e2e/specs/portfolio.test.js
  yarn.lock
Due: eslint --fix

fixed package.json engines
  package.json
Due: none

updated travis config
  .travis.yml
Due: none

created docs and updated links
  .svgo.yml
  .travis.yml
  bin/prune
  docs/.vuepress/config.js
  docs/development.md
  docs/motivation.md
  docs/packages.md
  docs/roadmap.md
  index.html
  src/assets/images/downloads.svg
  src/assets/images/external-link.svg
  src/assets/images/eye.svg
  src/assets/images/star.svg
  src/assets/styles/lib/_vars.scss
  src/components/ContentPanel.vue
  src/store/modules/portfolio/actions.js
Due: eslint --fix, stylelint, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, remark -o

remove router
  package.json
  src/main.js
  src/router/index.js
  yarn.lock
Due: eslint --fix
