Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, markdownlint --config .mdlrc

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --ext .vue --fix",
    "stylelint --custom-syntax postcss-html --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.md": [
    "markdownlint --config .mdlrc",
    "git add"
  ]
}

:sparkles: (scripts) rewrote deploy script and enhanced some other binstubs
  bin/build
  bin/deploy
  bin/test
Due: none

:memo: (docs) updated testing docs
  docs/testing.md
Due: markdownlint --config .mdlrc

:sparkles: (lighthouse) created lighthouse tests
  bin/test
  index.html
  package.json
  test/accessibility/constants.js
  test/accessibility/lighthouse-config.js
  test/lighthouse/index.js
  yarn.lock
Due: eslint --fix

:bug: (lighthouse) not running lighthouse as a default test
  bin/test
  package.json
Due: none

chore(package): update lockfile
  yarn.lock
Due: none
