Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, node scripts/lint-staged-remark.js, node scripts/resize-images.js

Ci/speed up ci (#107)
  .travis.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/documentation-error.md
Due: node scripts/lint-staged-remark.js

Update issue templates (#108)
  .github/ISSUE_TEMPLATE/documentation-error.md
Due: node scripts/lint-staged-remark.js

:memo: updated details docs
  README.md
  docs/README.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/documentation.md
  docs/guiding-principles.md
  docs/motivation-and-goals.md
  docs/resources-credits.md
  docs/scripts-tooling.md
  docs/testing.md
  docs/third-party-integrations.md
Due: node scripts/lint-staged-remark.js

:memo: (docs) updated docs and some scripts
  .lintstagedrc
  bin/functions
  build/webpack.dev.conf.js
  docs/development.md
  docs/documentation.md
  docs/testing.md
  package.json
  scripts/lint-staged-remark.js
Due: eslint --fix, node scripts/lint-staged-remark.js

Update docs (#109)
  .lintstagedrc
  README.md
  bin/functions
  build/webpack.dev.conf.js
  docs/README.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/scripts-tooling.md
  docs/development/setup.md
  docs/documentation.md
  docs/guiding-principles.md
  docs/motivation-and-goals.md
  docs/resources-credits.md
  docs/scripts-tooling.md
  docs/testing.md
  docs/third-party-integrations.md
  package.json
  scripts/lint-staged-remark.js
Due: eslint --fix, node scripts/lint-staged-remark.js

:recycle: (canvas) replaced canvas script with something more performant and interactive
  src/components/IntroPanel.vue
  src/lib/canvas.js
  src/lib/particle-network.js
  src/lib/particles.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

:recycle: (canvas) refactored canvas further
  package.json
  src/components/IntroPanel.vue
  src/lib/canvas.js
  src/lib/hex-to-rgb.js
  src/lib/particles.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

:recycle: (directives) removed throttling from window event listeners
  src/directives/in-view.js
Due: eslint --fix

:recycle: (nav) no longer handling navigation using the data-store
  src/App.vue
  src/components/AppNavigation.vue
  src/components/AppNavigationButton.vue
  src/components/AppNavigationItem.vue
  src/components/IntroPanel.vue
  src/store/modules/index.js
  src/store/modules/nav/actions.js
  src/store/modules/nav/getters.js
  src/store/modules/nav/index.js
  src/store/modules/nav/mutations.js
  src/store/modules/nav/state.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

:white_check_mark: (unit) updated unit tests pertinent to app navigation
  test/unit/jest.config.js
  test/unit/specs/App.test.js
  test/unit/specs/components/AppNavigationButton.test.js
  test/unit/specs/components/AppNavigationItem.test.js
  test/unit/specs/components/IntroPanel.test.js
  test/unit/utils/jest-setup.js
Due: eslint --fix

:wrench: (offline-plugin) updated offline-plugin configuration
  build/webpack.prod.conf.js
Due: eslint --fix

:sparkles: (404) created 404 page and special build process
  bin/post-build
  bin/start
  build/build-config.js
  build/webpack.error.conf.js
  docs/scripts-tooling.md
  scripts/create-404.js
  src/error.js
  src/lib/particles.js
  static.json
  static/404.html
Due: eslint --fix, node scripts/lint-staged-remark.js

chore(package): update lockfile
  yarn.lock
Due: none

:recycle: (canvas) fixing codeclimate errors
  src/components/IntroPanel.vue
  src/lib/particles.js
  src/lib/particles/.eslintrc.js
  src/lib/particles/bubble.js
  src/lib/particles/canvas.js
  src/lib/particles/defaults.js
  src/lib/particles/drawing.js
  src/lib/particles/index.js
  src/lib/particles/init.js
  src/lib/particles/particle.js
  src/lib/particles/particles.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

:bug: (canvas) fixed codeclimate issues
  src/lib/particles/canvas.js
  src/lib/particles/defaults.js
  src/lib/particles/drawing.js
  src/lib/particles/index.js
  src/lib/particles/init.js
  src/lib/particles/particle.js
  src/lib/particles/particles.js
  src/lib/particles/values.js
Due: eslint --fix

:recycle: (canvas) got rid of some dead code
  src/lib/particles/drawing.js
  src/lib/particles/init.js
  src/lib/particles/particles.js
Due: eslint --fix

:heavy_minus_sign: cleaning up dependencies
  .lintstagedrc
  package.json
  scripts/resize-images.js
  yarn.lock
Due: eslint --fix

:package: updated node dependencies
  package.json
  yarn.lock
Due: none

:white_check_mark: (lighthouse) added lighthouse tests
  .eslintrc.js
  .travis.yml
  bin/test
  docs/testing.md
  package.json
  static.json
  test/accessibility/lighthouse-config.js
  test/lighthouse/config/custom-settings.js
  test/lighthouse/config/default-settings.js
  test/lighthouse/test.js
  yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

:heavy_minus_sign: removed seolint and jsinspect
  .jsinspectrc
  docs/code-quality.md
  docs/scripts-tooling.md
  package.json
  yarn.lock
Due: node scripts/lint-staged-remark.js

:art: removed/updated config files and bin stubs
  .svgo.yml
  bin/deploy
  bin/prune
  greenkeeper.json
Due: none

:bug: (travis) added chrome download script to lighthouse runs in travis
  bin/download-chrome
  bin/test
Due: none

:bug: (travis) added chrome download script to lighthouse runs in travis
  .travis.yml
  bin/download-chrome
  bin/test
Due: none

:bug: (travis) added chrome download script to lighthouse runs in travis
  .travis.yml
  bin/test
  package.json
Due: none

Greenkeeper/webpack 4.18.0 (#119)
  package.json
  yarn.lock
Due: none

Greenkeeper/stylelint scss 3.3.2 (#130)
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: *.js
  eslint --ext .vue --fix: any of: *.vue
  stylelint --custom-syntax postcss-html --fix: any of: *.vue
  stylelint --fix: any of: *.scss
  svgo --pretty -p 2 --config=.svgo.yml --indent=2: any of: *.svg
  node scripts/lint-staged-remark.js: any of: *.md
  node scripts/resize-images.js: any of: src/assets/images/**/*.{png,jpg}
