Repository nielse63/312-Development: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, stylelint --fix, svgo --pretty -p 2 --config=.svgo.yml --indent=2, node scripts/lint-staged-remark.js, node scripts/resize-images.js

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "eslint --ext .vue --fix",
    "stylelint --custom-syntax postcss-html --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.svg": [
    "svgo --pretty -p 2 --config=.svgo.yml --indent=2",
    "git add"
  ],
  "*.md": [
    "node scripts/lint-staged-remark.js",
    "git add"
  ],
  "src/assets/images/**/*.{png,jpg}": [
    "node scripts/resize-images.js",
    "git add"
  ]
}

test(e2e): Added more e2e tests and improved existing tests
  bin/test
  src/components/IntroPanel.vue
  test/e2e/e2e.test.js
  test/e2e/jest-puppeteer.config.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

docs: added docs for e2e tests
  .github/PULL_REQUEST_TEMPLATE.md
  docs/development/architecture.md
  docs/testing.md
Due: node scripts/lint-staged-remark.js

Added more e2e tests and improved existing tests (#95)
  .github/PULL_REQUEST_TEMPLATE.md
  bin/test
  docs/development/architecture.md
  docs/testing.md
  src/components/IntroPanel.vue
  test/e2e/e2e.test.js
  test/e2e/jest-puppeteer.config.js
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

chore(scripts): created script to generate unit tests
  scripts/create-unit-tests.js
  scripts/templates/Component.test.js
Due: eslint --fix

test(unit): Added a unit test for each component, got a passing run
  bin/test
  docs/testing.md
  package.json
  src/components/AppFooter.vue
  src/components/CardPortfolio.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ExternalLink.vue
  src/components/FormSubmit.vue
  src/components/IntroPanel.vue
  src/directives/in-view.js
  src/lib/throttle.js
  src/main.js
  src/views/Home.vue
  test/__mocks__/image-mock.js
  test/unit/jest.config.js
  test/unit/specs/App.test.js
  test/unit/specs/components/AppNavigationButton.test.js
  test/unit/specs/components/AppNavigationItem.test.js
  test/unit/specs/components/CardPortfolio.test.js
  test/unit/specs/components/CardTool.test.js
  test/unit/specs/components/ContentSection.test.js
  test/unit/specs/components/ContentSectionAbout.test.js
  test/unit/specs/components/ContentSectionContact.test.js
  test/unit/specs/components/ContentSectionExperience.test.js
  test/unit/specs/components/ContentSectionPortfolio.test.js
  test/unit/specs/components/ContentSectionSkillsAndTools.test.js
  test/unit/specs/components/ExperienceBox.test.js
  test/unit/specs/components/ExternalLink.test.js
  test/unit/specs/components/FormInput.test.js
  test/unit/specs/components/FormSubmit.test.js
  test/unit/specs/components/IntroPanel.test.js
  test/unit/specs/views/Home.test.js
  test/unit/utils/store.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

fix(docs): Fixed markdownlint errors reported by codeclimate
  docs/testing.md
Due: node scripts/lint-staged-remark.js

updated heroku config
  Procfile
  static.json
Due: none

updated heroku build
  Procfile
  Procfile.old
  build/dev-server.js
  build/webpack.dev.conf.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/config.js
  src/components/ContentSectionExperience.vue
  src/lib/api.js
  src/store/modules/portfolio/actions.js
  static.json
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

removing procfile
  Procfile.old
Due: none

updated heroku build
  Procfile
  static.json
Due: none

added heroku static deploy
  bin/deploy
  build/dev-server.js
  build/webpack.dev.conf.js
  packages/api-server/lib/api-server.js
  src/components/ContentSectionExperience.vue
  src/lib/api.js
  src/store/modules/portfolio/actions.js
  static.json
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix

Unit Tests (#97)
  bin/test
  docs/testing.md
  package.json
  scripts/create-unit-tests.js
  scripts/templates/Component.test.js
  src/components/AppFooter.vue
  src/components/CardPortfolio.vue
  src/components/ContentSection.vue
  src/components/ContentSectionAbout.vue
  src/components/ExternalLink.vue
  src/components/FormSubmit.vue
  src/components/IntroPanel.vue
  src/directives/in-view.js
  src/lib/throttle.js
  src/main.js
  src/views/Home.vue
  test/__mocks__/image-mock.js
  test/unit/jest.config.js
  test/unit/specs/App.test.js
  test/unit/specs/components/AppNavigationButton.test.js
  test/unit/specs/components/AppNavigationItem.test.js
  test/unit/specs/components/CardPortfolio.test.js
  test/unit/specs/components/CardTool.test.js
  test/unit/specs/components/ContentSection.test.js
  test/unit/specs/components/ContentSectionAbout.test.js
  test/unit/specs/components/ContentSectionContact.test.js
  test/unit/specs/components/ContentSectionExperience.test.js
  test/unit/specs/components/ContentSectionPortfolio.test.js
  test/unit/specs/components/ContentSectionSkillsAndTools.test.js
  test/unit/specs/components/ExperienceBox.test.js
  test/unit/specs/components/ExternalLink.test.js
  test/unit/specs/components/FormInput.test.js
  test/unit/specs/components/FormSubmit.test.js
  test/unit/specs/components/IntroPanel.test.js
  test/unit/specs/views/Home.test.js
  test/unit/utils/store.js
  yarn.lock
Due: eslint --fix, eslint --ext .vue --fix, stylelint --custom-syntax postcss-html --fix, node scripts/lint-staged-remark.js

updated travis deploy
  .travis.yml
  bin/deploy
Due: none

Heroku static buildpack (#98)
  .travis.yml
  Procfile
  bin/deploy
  build/webpack.dev.conf.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/config.js
  src/lib/api.js
  static.json
Due: eslint --fix

updated deploy script and docs
  .travis.yml
  Procfile
  bin/deploy
  docs/code-quality.md
  docs/deployment.md
Due: node scripts/lint-staged-remark.js

perf: Included a few tools to improve performance
  .gitignore
  build/build-config.js
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  index.html
  package.json
  yarn.lock
Due: eslint --fix

:wrench: (CI) Updated code quality-related files
  .codeclimate.yml
  .jsinspectrc
  .mdlrc
  .remarkrc
  .travis.yml
  .vscode/settings.json
  docs/code-quality.md
  package.json
  yarn.lock
Due: node scripts/lint-staged-remark.js

chore(package): update lockfile
  yarn.lock
Due: none

:ok_hand: (codeclimate) Disabling markdownlint plugin in codeclimate
  .codeclimate.yml
Due: none

Improve performance and code quality (#100)
  .codeclimate.yml
  .gitignore
  .jsinspectrc
  .mdlrc
  .remarkrc
  .travis.yml
  .vscode/settings.json
  build/build-config.js
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  docs/code-quality.md
  index.html
  package.json
  yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

:rocket: (heroku) Updated deploy process and scripts
  .travis.yml
  .vscode/settings.json
  Procfile
  bin/deploy
  static.json
Due: none

:memo: (deployment) Updated doc file for deployment
  docs/deployment.md
Due: node scripts/lint-staged-remark.js

Updated deploy process and scripts (#102)
  .travis.yml
  .vscode/settings.json
  Procfile
  bin/deploy
  docs/deployment.md
  static.json
Due: node scripts/lint-staged-remark.js

:building_construction: (packages) removed packages directory
  packages/README.md
  packages/api-server/README.md
  packages/api-server/index.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/config.js
  packages/api-server/lib/fetch.js
  packages/api-server/lib/routes/four-oh-four.js
  packages/api-server/lib/routes/github.js
  packages/api-server/lib/routes/index.js
  packages/api-server/lib/routes/messages.js
  packages/api-server/lib/routes/npm.js
  packages/api-server/now.json
  packages/api-server/package.json
  packages/api-server/yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

:building_construction: (lerna) removing lerna from project
  .travis.yml
  README.md
  docs/README.md
  docs/development/README.md
  docs/development/packages.md
  lerna.json
  package.json
  yarn.lock
Due: node scripts/lint-staged-remark.js

:heavy_minus_sign: removed webpack-monitor
  build/webpack.dev.conf.js
  package.json
  yarn.lock
Due: eslint --fix

:wrench: (static) updated buildpack config and added robots.txt
  static.json
  static/robots.txt
Due: none

Remove api server (#103)
  .travis.yml
  README.md
  build/webpack.dev.conf.js
  docs/README.md
  docs/development/README.md
  docs/development/packages.md
  lerna.json
  package.json
  packages/README.md
  packages/api-server/README.md
  packages/api-server/index.js
  packages/api-server/lib/api-server.js
  packages/api-server/lib/config.js
  packages/api-server/lib/fetch.js
  packages/api-server/lib/routes/four-oh-four.js
  packages/api-server/lib/routes/github.js
  packages/api-server/lib/routes/index.js
  packages/api-server/lib/routes/messages.js
  packages/api-server/lib/routes/npm.js
  packages/api-server/now.json
  packages/api-server/package.json
  packages/api-server/yarn.lock
  static.json
  static/robots.txt
  yarn.lock
Due: eslint --fix, node scripts/lint-staged-remark.js

:sparkles: (seo) added seolint and fixed issues reported
  index.html
  package.json
  yarn.lock
Due: none

:sparkles: took steps to improve seo
  bin/post-build
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  src/main.js
  static/browserconfig.xml
  static/googlefaeaf1160dde1334.html
  static/homepage.jpg
  static/sitemap.xml
  yarn.lock
Due: eslint --fix

:heavy_minus_sign: (ga) replaced vue-analytics with html google analytics installation
  build/build-config.js
  index.html
  package.json
  src/main.js
  yarn.lock
Due: eslint --fix

:heavy_minus_sign: (prerender) removed prerender-spa-plugin
  build/webpack.prod.conf.js
Due: eslint --fix

:green_heart: (travis) created build stages to improve ci build
  .travis.yml
Due: none

Improve seo (#105)
  bin/post-build
  build/build-config.js
  build/webpack.prod.conf.js
  index.html
  package.json
  static/browserconfig.xml
  static/googlefaeaf1160dde1334.html
  static/homepage.jpg
  static/sitemap.xml
  yarn.lock
Due: eslint --fix

:green_heart: (travis) removed unnneeded travis env vars
  .travis.yml
Due: none

:green_heart: (travis) removed limitation of concurrent jobs
  .travis.yml
Due: none

:green_heart: (travis) undid most changes to travis config
  .travis.yml
Due: none

Improve CI Build (#106)
  .travis.yml
Due: none

:green_heart: (travis) enabling scripts to run
  .travis.yml
Due: none
